* {
margin: 0;
padding: 0;
border: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

@font-face {
    font-family: slmEverlie;
    src: url(../fonts/slm_everlie.otf);
}

body {
    background-image: url(../img/ratatouille_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "ff-good-headline-web-pro-con", sans-serif;
}

header {
    width: 100%;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 2em;
    text-shadow: 2px 2px #494949;
    font-family: slmEverlie;
    font-size: 5.5em;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 1em;
    text-shadow: 2px 2px #494949;
    font-weight: 400;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

#linksleft a:hover {
    text-decoration: underline;
}

#linksleft a:visited {
    text-decoration: none;
    color: black;
}

#linksleft {
    height: 82px;
    display: inline;
    width: 33%;
    float: left;
    margin-top: 5px;
    text-align: right;
}

#linksleft ul li {
    display: inline;
    padding-left: 1.5em;
}

#linksleft ul li:nth-child(2) {
    padding-right: 1.5em;
}

#linksleft ul li a {
    color: black;
}

#linksright a:hover {
    text-decoration: underline;
}

#linksright a:visited {
    text-decoration: none;
    color: black;
}

#linksright {
    height: 82px;
    display: inline;
    width: 33%;
    float: right;
    margin-top: 5px;
    text-align: left;
}

#linksright ul li {
    display: inline;
    padding-left: 1.5em;
}

#linksright ul li a {
    color: black;
}

#linktomenu {
    width: 24.2%;
    float: left;
    text-align: center;
    height: 3rem;
    border: 1px solid #f6f6f6;
    padding-top: 1.95em;
    font-weight: 400;
    font-size: 15px;
}

#phone {
    width: 24.2%;
    float: left;
    text-align: center;
    height: 3rem;
    border: 1px solid #f6f6f6;
    padding-top: 1.95em;
    font-weight: 400;
    font-size: 15px;
}

#location {
    width: 24.2%;
    float: left;
    text-align: center;
    height: 3rem;
    border: 1px solid #f6f6f6;
    padding-top: 1.95em;
    font-weight: 400;
    font-size: 15px;
}

#reservation a:hover {
    text-decoration: none;
}

#reservation h3 {
    width: 100%;
    background-color: #38728b;
    height: 45px;
    color: white;
    margin-top: 5px;
    text-align: center;
    padding-top: 1.3em;
    border-radius: 10px;
    text-shadow: 2px 2px #494949;
    font-weight: 400;
}

#reservation h3:hover {
    background-color: #85adb4;
}

/* for mobile */
@media screen and (max-width: 768px) {
#menubutton img {
    width: 32px;
    float: left;
    margin: 20px;
    padding-right: 2em;
}

#linksleft {
    display: none;
}

#linksright {
    display: none;
}

#logo {
    width: 190px;
    margin: auto;
}

#logo img {
    width: 190px;
}

nav {
    background-color: white;
    height: 100px;
}

h1 {
    font-size: 65px;
}

footer {
    height: 200px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 4px solid #38728b;
}

#linktomenu {
    width: 49.5%;
}

#phone {
    width: 49.5%;
    float: right;
}

#location {
    display: none;
}

#reservation {
    clear: both;
    border-top: 1px solid #f6f6f6;
    margin: auto;
}

#reservation h3 {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding-top: 26px;
}
}

/* for tablet */
@media screen and (min-width: 769px) and (max-width: 869px) {

#menubutton img {
    visibility: hidden;
}

#logo {
    width: 33%;
    float: left;
    margin-top: -30px;
}

#logo img {
    width: 100%;
    margin: auto;
}

nav {
    height: 130px;
    background-color: white;
}

footer {
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 4px solid #38728b;
    padding-top: 2em;
}

#reservation {
    float: right;
    width: 24.2%;
    border-top: 1px solid #f6f6f6;
    margin: auto;
    padding-right: 10px;
}
}

/* for desktop */
@media screen and (min-width: 870px) {
header {
    width: 100%;
    margin: auto;
}

#menubutton img {
    visibility: hidden;
}

#logo {
    width: 33%;
    float: left;
    margin-top: -30px;
}

#logo img {
    width: 294px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 130px;
}

footer {
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 4px solid #38728b;
    padding-top: 2em;
}

#reservation {
    float: right;
    width: 24.2%;
    border-top: 1px solid #f6f6f6;
    margin: auto;
    padding-right: 10px;
}

#reservation h3 {
    height: 44px;
}
}

